img {
  width: 400px;
  height: 400px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  div {
    display: flex;
    align-items: center;
  }
}

.lan-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.body-container {
  margin-top: 10px;
  text-align: center;
  white-space: pre-line;

  img {
    margin-bottom: 10px;
  }
}

.blue-btn {
  display: block;
  font-weight: bold;
  color: white;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  border: 2px solid rgb(0, 108, 203);
  border-radius: 5px;
  background-color: rgb(99, 136, 255);
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.blue-btn:hover {
  background-color: rgb(0, 108, 203);
}

a {
  font-size: 14px;
}

.question-container {
  text-align: center;

  p {
    font-size: 16px;
    font-weight: bold;
  }

  :not(:last-child) {
    margin-bottom: 150px;
  }
}

.btn-container {
  width: 30%;
  margin: 0 auto;

  button {
    background-color: white;
    width: 80%;
    height: 50px;
    border: 2px solid rgb(187, 196, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
  }

  :first-child {
    margin-bottom: 10px;
  }
}

.btn-container button:hover {
  background-color: rgb(187, 196, 255);
}

.selected {
  background-color: rgb(187, 196, 255);
}

.result-container {
  text-align: center;

  p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

.type-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img{
    margin: 15px 0;
  }
}

.type-container span, .question-container span{
  cursor: pointer;
}