.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    font-size: 30px;
    font-weight: bold;
  }
  div{
    display: flex;
    align-items: center;
  }
}

.lan-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.body-container{
  margin-top: 10px;
  text-align: center;
  white-space: pre-line;
  img{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }
}

.blue-btn{
  font-weight: bold;
  color: white;
  width: 200px;
  height: 50px;
  border: 2px solid rgb(0, 108, 203);
  border-radius: 5px;
  background-color: rgb(99, 136, 255);
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.blue-btn:hover{
  background-color: rgb(0, 108, 203);
}

.question-container{
  text-align: center;
  p{
    font-size: 16px;
    font-weight: bold;
  }
  :not(:last-child){
    margin-bottom: 150px;
  }
}

.btn-container{
  width: 30%;
  margin: 0 auto;
  button{
    background-color: white;
    width: 80%;
    height: 50px;
    border: 2px solid rgb(187, 196, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
  }
  :first-child{
    margin-bottom: 10px;
  }
}

.btn-container button:hover{
  background-color: rgb(187, 196, 255);
}

.selected{
  background-color: rgb(187, 196, 255);
}

.result-container{
  text-align: center;
  img{
    width: 400px;
    height: 400px;
  }
  p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 100px;
  }
}
